        /* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-wrap{
    display: flex;
    flex-flow: row wrap;
}

.center-top{
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-auto{
    margin: 0 auto;
    max-width: 1400px;
}

.gap{
    gap: 10px;
}

p,
span
{
    color: black;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ff6900;
    text-align: center;
}

nav > div.logo{
    width:80%;
    justify-content: center;
}

nav > div.side:nth-child(3){
    width: 20%;
    align-items: center;
    justify-content: end;
}

nav > div.side:nth-child(1){
    width: 20%;
    align-items: center;
}

 ul{
    list-style-type: none;
    font-weight: bold;
}

nav > div.logo img{
    width: 120px;
    vertical-align: middle;
}

nav > div.side img{
    width: 15px;
    height: 15px;
}

main{
    padding-top: 5rem;
}

main > div.column{
    width: calc(100% / 3 - 7px);
    margin-bottom: 3rem;
}

main > div.column:nth-child(2),
main > div.column:nth-child(5)
{
    margin-right:10px;
    margin-left: 10px;
}

main > div.column div.image{
    position: relative;
    width: 460px;
    height: 670px;
}


#image1{
    background-image: url(../img/1.webp);
    background-size: cover;
}

#image1:hover{
    background-image: url(../img/1b.webp);
    background-size: cover;
}

#image2{
    background-image: url(../img/2.webp);
    background-size: cover;
}

#image2:hover{
    background-image: url(../img/2b.webp);
    background-size: cover;
}

#image3{
    background-image: url(../img/3.webp);
    background-size: cover;
}

#image3:hover{
    background-image: url(../img/3b.webp);
    background-size: cover;
}

#image4{
    background-image: url(../img/4.webp);
    background-size: cover;
}

#image4:hover{
    background-image: url(../img/4b.webp);
    background-size: cover;
}

#image5{
    background-image: url(../img/5.webp);
    background-size: cover;
}

#image5:hover{
    background-image: url(../img/5b.webp);
    background-size: cover;
}

#image6{
    background-image: url(../img/6.webp);
    background-size: cover;
}

#image6:hover{
    background-image: url(../img/6b.webp);
    background-size: cover;
}


main > div.column > div.image span.heart{
    position: absolute;
    color:black;
    top: 10px;
    right: 0;
    padding: .5rem 1rem;
    background-color: white;
    font-size: 1.8rem;
}

main > div.column > div.image span.heart:hover{
    color: red;
}

main > div.column > div.image span.sale{
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: red;
    padding: .3rem;
    color: white;
}

main > div.column > div.image span.state{
    position: absolute;
    bottom: 50px;
    left: 45px;
    background-color: green;
    padding: .3rem;
    color: white;
}

main > div.column > div.image span.state:nth-child(3){
    left: 0;
}

main > div.column > div.image span.sale ,
main > div.column > div.image span.state{
    font-size: .8rem;
}

main > div.column > p.name{
    font-size: 0.85rem;
}

main > div.column > p.description{
    font-weight: bold;
}

main > div.column > p.price{
    color: red;
    font-size: .85rem;
    font-weight: bold;
}

main > div.column > p.price span.price-delete{
    text-decoration: line-through;
}

footer{
    background-color: #1a1a1a;
}

footer  p ,h3{
    color: white;
    line-height: 2.2rem;
}

footer div.booleando p{
    font-size: .85rem;
}

footer > div.footer-container > div.social img{
    width: 20px;
    height: 20px;
}

footer > div.footer-container{
    justify-content: space-between;
}

footer > div.footer-container > div.social ul{
    justify-content: space-between;
}