        /* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
}

.center-top{
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-auto{
    margin: 0 auto;
    max-width: 1400px;
}

.gap{
    gap: 1rem;
}

header{
    background-color: #ff6900;
    text-align: center;
}

nav > div.logo{
    width:80%;
}

nav > div.side{
    width: 20%;
    align-items: center;
}

nav > div.side > ul{
    list-style-type: none;
    font-weight: bold;
}

nav > div.logo img{
    width: 120px;
    vertical-align: middle;
}

nav > div.side img{
    width: 15px;
    height: 15px;
}

main{
    padding-top: 3rem;
}

main > div.column{
    position: relative;
    width: calc(100% / 3);
}

main > div.column div.image img{
    height: 100%;
    width: 100%;
}

main > div.column > div.image span.heart{
    position: absolute;
    color:black;
    top: 10px;
    right: 0;
    padding: 1rem;
    background-color: white;
    font-size: 1.8rem;
}

main > div.column > div.image span.sale{
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: red;
    padding: .3rem;
}

main > div.column > div.image span.state{
    position: absolute;
    bottom: 50px;
    left: 45px;
    background-color: green;
    padding: .3rem;
}

main > div.column > div.image span.sale ,
main > div.column > div.image span.state{
    font-size: .8rem;
}
